.header_top {
  .header_top_span {
    display: block;
    float: left;
    font-size: 35px;
    letter-spacing: 1px;
    line-height: 45px;
    color: #fff;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-weight: 800;
    position: relative;
    z-index: 3;
    margin-left: 7%;
  }

  .header_top_search {
    display: block;
    float: right;
    width: 390px;
    margin-right: 80px;
    background: rgba(93, 155, 211, 0.01);
    position: relative;
    z-index: 3;

    .header_top_search_label {
      color: #fff;
      background-image: url(../../../images/magnifying-glass.png);
      width: 20px;
      height: 20px;
      background-position: center;
      background-size: contain;
      display: inline-block;
      position: absolute;
      right: 4%;
      top: 25%;
      cursor: pointer;
    }

    .header_top_search_input {
      width: 100%;
      height: 45px;
      border: 3.5px solid #fff;
      border-radius: 8%;
      position: relative;
      background: none;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 30px;
      color: #fff;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      padding-left: 15px;
      padding-right: 15px;
      text-shadow: 0.5px 0.5px #000;
      display: inline-block;
    }

    .header_top_search_input::placeholder {
      color: #fff;
      opacity: 1;
    }

    .header_top_search_input:focus {
      outline: none;
    }
  }
}
