.full_description {
  .full_description_filmName {
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 44px;
    color: #fff;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-weight: 800;
    display: block;
  }

  .full_description_filmDescr {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .full_description_filmDescr_item {
      display: flex;
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      margin-right: 15px;
      font-weight: normal;
    }
  }
}
