.app_header {
  width: 100%;
  height: 88vh;
  padding-top: 20px;
  background-image: url(../../images/cover-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
}

.app_header.error {
  height: 7vh;
  background: none !important;
}

.app_header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

@media (max-width: 767px) {
  .app_header {
    height: 100vh;
  }
}

@media (max-width: 621px) {
  .app_header.error {
    height: 15vh;
    background: none !important;
  }
}
