.moviesGrid_wrapper_MovieElement_ul_item_wrap {
  background-color: white;
  cursor: pointer;
  position: relative;

  .descriptionFilmLayer {
    width: 100%;
    height: 78%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;

    .descriptionFilmLayer_overlay {
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      height: 94%;
      position: relative;

      .descriptionFilmLayer_overlay_description {
        width: 100%;
        height: 100%;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .descriptionFilmLayer_overlay_description_play.circle_blue {
          background-color: #47c3ef;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin-top: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;

          .circle_blue_play {
            border-top: 20px solid #47c3ef;
            border-bottom: 20px solid #47c3ef;
            border-left: 30px solid white;
            height: 0px;
            margin-left: 10px;
          }
        }

        .descriptionFilmLayer_overlay_description_play.circle_blue:focus {
          outline: none;
        }

        .button_watch_now {
          margin-top:-70px;
          font-size: 25px;
          font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
          display: block;
          width: 100%;
          text-align: center;
        }

        .button_show_info{
          width: 150px;
          height: 45px;
          border: 1px solid #fff;
          border-radius: 6px;
          color:white;
          font-size: 20px;
          margin-top:-65px;
          background: none;
          cursor: pointer;
        }
        .button_show_info:focus {
          outline: none;
        }
      }
    }
  }

  .descriptionFilmLayer_info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;

    .descriptionFilmLayer_info_overlay {
      background-color: rgba(0,0,0,0.7);
      width: 100%;
      height: 100%;
      position: relative;

      .descriptionFilmLayer_info_close{
        color: white;
        font-size: 40px;
        font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
        position: absolute;
        top: 20px;
        left: 40px;
        background: none;
        border: none;
        cursor: pointer;
      }

      .descriptionFilmLayer_info_close:focus{
        outline:none;
      }
      
      .descriptionFilmLayer_info_overlay_description{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        padding-top: 85px;
        padding-left: 40px;
        width: calc(100% - 40px);
        height: calc(100% - 85px);

        .descriptionFilmLayer_info_overlay_description_Name_and_Rate{
          display: flex;
          justify-content: space-between;
          width: 88%;

          .descriptionFilmLayer_info_overlay_description_name{
            font-size: 16px;
            line-height: 18px;
            color: #fff;
            font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
          }

          .descriptionFilmLayer_info_overlay_description_rate{
            font-size: 18px;
            line-height: 18px;
            color: #47c3ef;
            font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
            text-align: right;
            border-radius: 6px;
            border: 2px solid #09ade3;
            padding: 3px 5px;
          }
        }

        .descriptionFilmLayer_info_overlay_description_overview{
          width: 88%;
          margin-top: 15px;
          color: white;
          font-size: 16px;
          line-height: 22px;
        }

        .descriptionFilmLayer_info_overlay_description_watch_now{
          background-color: #3bb3df;
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 30px;
          color: #fff;
          font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
          text-align: center;
          width: 150px;
          height: 40px;
          border-radius: 6px;
          cursor: pointer;
          margin-top:20px;
          align-self: flex-start;
        }
        
        .descriptionFilmLayer_info_overlay_description_watch_now:focus {
          outline: none;
        }
      }
    }
  }

  .descriptionFilmLayer_info.active {
    display: block;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.moviesGrid_wrapper_MovieElement_ul_item_wrap:hover .descriptionFilmLayer
{
  background-position: top;
  background-size: cover;
  background-repeat: none;
  display: block;
  display: block;
}

.moviesGrid_wrapper_MovieElement_top_picture {
  width: 100%;
  height: 78%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.moviesGrid_wrapper_MovieElement_ul_item_wrap_description {
  height: 22%;
  width: 80%;
  margin: 30px auto 0 auto;
  display: block;
  background-color: white;

  .moviesGrid_wrapper_MovieElement_ul_item_wrap_description_n_r {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .moviesGrid_wrapper_MovieElement_ul_item_wrap_description_Name {
      width: 80%;
      font-size: 20px;
      line-height: 25px;
      color: #242b2d;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      font-weight: bold;
    }

    .moviesGrid_wrapper_MovieElement_ul_item_wrap_description_Rate {
      font-size: 18px;
      line-height: 18px;
      color: #47c3ef;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      text-align: center;
      border-radius: 6px;
      border: 2px solid #09ade3;
      padding: 3px 5px;
      left: 15px;
    }
  }
}
.moviesGrid_wrapper_MovieElement_ul_item_wrap_description_genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
  bottom: 0;
  margin-top: 10px;
  width: 80%;

  .moviesGrid_wrapper_MovieElement_ul_item_wrap_description_genres_gen {
    font-size: 16px;
    line-height: 25px;
    color: #47c3ef;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-weight: normal;
    margin-right: 20px;
  }
}

.descriptionFilmLayer_info_overlay_description_genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
  bottom: 0;
  width: 88%;

  .moviesGrid_wrapper_MovieElement_ul_item_wrap_description_genres_gen {
    font-size: 16px;
    line-height: 25px;
    color: #47c3ef;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-weight: normal;
    margin-right: 20px;
  }
}
