.header_bottom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: block;
  margin-left: 7%;
  margin-bottom: 30px;
  width: 88%;

  .header_bottom_left {
    float: left;
    position: absolute;
    bottom: 0;
  }
}
