.header_bottom {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  margin-left: 7%;
  margin-bottom: 30px;
  width: 88%;
  justify-content: space-between;

  .header_bottom_left {
    position: relative;
    bottom: 0;
  }

  .header_bottom_left.active {
    position: static;
    padding-top: 204px;
  }
}

@media (max-width: 767px) {
  .header_bottom {
    display: block;
    width: 94%;
    margin-left: 6%;
    margin-bottom:50px;

    .header_bottom_left.active {
      padding-top: 0;
      margin-bottom: 20px;
    }
  }
}
