.moviesGrid_categories {
  margin: 70px 7%;
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;

  .moviesGrid_categories_item {
    .moviesGrid_categories_item_button {
      cursor: pointer;
      font-size: 25px;
      line-height: 30px;
      color: #0aaee4;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      margin-right: 30px;
      padding-bottom: 5px;
      text-align: center;
      background: none;
      border:none;
    }
    .moviesGrid_categories_item_button:focus {
      outline: none;
    }
    .moviesGrid_categories_item_button.active{
      border-bottom:4px solid #0aaee4;
    }
  }
}