.bottom_right {
  width: 370px;
  margin-top: 122px;

  .bottom_right_text_descr {
    width: 350px;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    position: relative;
    top: -50px;
    left: 30px;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 0 2px 25px;
    margin-left: 25px;
    display: none;
  }

  .bottom_right_text_descr.active {
    display: block;
  }

  .bottom_right_buttons_box {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    position: relative;
    top: 200px;

    .bottom_right_buttons_box_button {
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 30px;
      color: #fff;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      text-align: center;
      width: 150px;
      height: 40px;
      border-radius: 6px;
      cursor: pointer;
    }

    .bottom_right_buttons_box_button:focus {
      outline: none;
    }

    .bottom_right_buttons_box_button_watch {
      background-color: #3bb3df;
      border-style: none;
    }

    .bottom_right_buttons_box_button_view {
      background: none;
    }

    .bottom_right_buttons_box_button_view:hover {
      background: #3bb3df;
      border-style: none;
    }
  }

  .bottom_right_buttons_box.active {
    position: relative;
    border-style: none;
    top: -4px;
  }
}

@media (max-width: 767px) {
  .bottom_right {
    width: 100%;
    margin: 0;

    .bottom_right_text_descr {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
      top: 0;
      left: -9%;
      background: rgba(0, 0, 0, 0.5);
      padding: 2px 0 2px 25px;
      margin-left: 0;
    }

    .bottom_right_buttons_box {
      margin-right: 0;
      position: relative;
      top: 0;
      width: 100%;

      .bottom_right_buttons_box_button {
        width: 130px;
        font-size: 17px;
      }

      .bottom_right_buttons_box_button_view {
        margin-right: 30px;
      }
    }

    .bottom_right_buttons_box.active {
      top: 0;
    }
  }
}
